[general]
name = "sandbox-curl"
version = "0.1.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "curl.fix",
]

dynamic_links = ["curl"]
objects = ["lib.o"]
preliminary_commands = [["make", "lib.o"]]

[[dependencies]]
name = "asynctask"
version = "=1.1.1"
git = { url = "https://github.com/tttmmmyyyy/fixlang-asynctask.git" }

[[dependencies]]
name = "minilib-common"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }
