[general]
name = "sandbox-ncurses"
version = "0.1.0"

[build]
files = [
    "ncurses.fix",
#    "filer.fix",
]
opt_level = "basic"
objects = ["lib.o"]
preliminary_commands = [["make", "lib.o"]]
dynamic_links = ["ncursesw"]



[[dependencies]]
name = "minilib-io"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-io.git" }

[[dependencies]]
name = "minilib-monad"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-monad.git" }

[[dependencies]]
name = "minilib-text"
version = "0.5.5"
git = { url = "https://github.com/pt9999/fixlang-minilib-text.git" }