[submodule "_projects/fixlang-minilib-app"]
	path = _projects/fixlang-minilib-app
	url = https://github.com/pt9999/fixlang-minilib-app
[submodule "_projects/fixlang-minilib-binary"]
	path = _projects/fixlang-minilib-binary
	url = https://github.com/pt9999/fixlang-minilib-binary
[submodule "_projects/fixlang-minilib-collection"]
	path = _projects/fixlang-minilib-collection
	url = https://github.com/pt9999/fixlang-minilib-collection
[submodule "_projects/fixlang-minilib-common"]
	path = _projects/fixlang-minilib-common
	url = https://github.com/pt9999/fixlang-minilib-common
[submodule "_projects/fixlang-minilib-comonad"]
	path = _projects/fixlang-minilib-comonad
	url = https://github.com/pt9999/fixlang-minilib-comonad
[submodule "_projects/fixlang-minilib-crypto"]
	path = _projects/fixlang-minilib-crypto
	url = https://github.com/pt9999/fixlang-minilib-crypto
[submodule "_projects/fixlang-minilib-examples"]
	path = _projects/fixlang-minilib-examples
	url = https://github.com/pt9999/fixlang-minilib-examples
[submodule "_projects/fixlang-minilib-io"]
	path = _projects/fixlang-minilib-io
	url = https://github.com/pt9999/fixlang-minilib-io
[submodule "_projects/fixlang-minilib-json"]
	path = _projects/fixlang-minilib-json
	url = https://github.com/pt9999/fixlang-minilib-json
[submodule "_projects/fixlang-minilib-math"]
	path = _projects/fixlang-minilib-math
	url = https://github.com/pt9999/fixlang-minilib-math
[submodule "_projects/fixlang-minilib-media"]
	path = _projects/fixlang-minilib-media
	url = https://github.com/pt9999/fixlang-minilib-media
[submodule "_projects/fixlang-minilib-monad"]
	path = _projects/fixlang-minilib-monad
	url = https://github.com/pt9999/fixlang-minilib-monad
[submodule "_projects/fixlang-minilib-net"]
	path = _projects/fixlang-minilib-net
	url = https://github.com/pt9999/fixlang-minilib-net
[submodule "_projects/fixlang-minilib-regexp"]
	path = _projects/fixlang-minilib-regexp
	url = https://github.com/pt9999/fixlang-minilib-regexp
[submodule "_projects/fixlang-minilib-text"]
	path = _projects/fixlang-minilib-text
	url = https://github.com/pt9999/fixlang-minilib-text
[submodule "_projects/fixlang-minilib-thread"]
	path = _projects/fixlang-minilib-thread
	url = https://github.com/pt9999/fixlang-minilib-thread
[submodule "_projects/fixlang-minilib-xml"]
	path = _projects/fixlang-minilib-xml
	url = https://github.com/pt9999/fixlang-minilib-xml
