[general]
name = "sandbox-io-uv"
version = "0.1.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/io/uv.fix",
    "lib/io/uv/uv_fs.fix",
    "lib/io/uv/uv_idle.fix",
    "lib/io/uv/uv_pipe.fix",
    "lib/io/uv/uv_stream.fix",
    "lib/io/uv/uv_timer.fix",
    "../../fp/free.fix",
]

# sudo apt install libuv1-dev
#dynamic_links = ["uv"]
dynamic_links = ["uv_a", "dmalloc"]
objects = ["lib.o"]
#preliminary_commands = [["make", "lib.o"]]
#preliminary_commands = [["make", "lib.o", "CFLAGS=-g"]]
preliminary_commands = [["make", "lib.o", "CFLAGS=-g", "LDFLAGS=-L .local/libuv/obj-x86_64-linux-gnu"]]

[build.test]
files = [
    "tests/test.fix",
    "tests/io/uv_test.fix",
    "tests/io/uv_fs_test.fix",
    "tests/io/uv_idle_test.fix",
    "tests/io/uv_pipe_test.fix",
    "tests/io/uv_timer_test.fix",
]


[[dependencies]]
name = "minilib-common"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "asynctask"
version = "*"
git = { url = "https://github.com/tttmmmyyyy/fixlang-asynctask.git" }

[[dependencies]]
name = "minilib-monad"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-monad.git" }

[[dependencies]]
name = "minilib-io"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-io.git" }
