[general]
name = "sandbox-io-uv"
version = "0.1.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "uv.fix",
]

# sudo apt install libuv1-dev
dynamic_links = ["uv"]
objects = ["lib.o"]
preliminary_commands = [["make", "lib.o"]]

[build.test]
files = [
    "test.fix",
]


[[dependencies]]
name = "minilib-common"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }
