[general]
name = "depgraph"
version = "0.2.0"
fix_version = "1.2.0"
authors = ["pt9999"]
license = "MIT"

[build]
files = [
    "main.fix",
    "depgraph.fix",
]
opt_level = "basic"


[[dependencies]]
name = "minilib-common"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-io"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-io.git" }

[[dependencies]]
name = "minilib-monad"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-monad.git" }

[[dependencies]]
name = "minilib-collection"
version = "*"
git = { url = "https://github.com/pt9999/fixlang-minilib-collection.git" }
